
.table_noborder
{
	font-family: verdana,arial,sans-serif;
	font-size:15px;
		
}


.table 
{
	font-family: verdana,arial,sans-serif;
	font-size:13px;
	color:#fff;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
}

.table tr 
{
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #a9c6c9;
}

.table td 
{
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #a9c6c9;
	vertical-align: middle !important;
	clear: none;
    float: none;
    font-size: 12px;
    font-weight: bold;

}

button:hover
{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.img_show
{
    background-color: #639ECA;
}

.slidingDiv {
	height:auto;
	background-color: #FFF;
	padding:5px;
	margin-top:0px;
	
}

.show_hide {
	display:none;
    
    
}
a#link
{
    color: blue;
}
p#b
{
    color:violet;
}
h1
{
    color: green;
}


a:link {color: #0000ff; }
a:active {color: #00ff00; background-color:yellow; }
a:visited {color: #0080E0; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: underline; }