

<script type="text/javascript">

jQuery(document).ready(function() {
   
    jQuery('#mycarousel').jcarousel();
    jQuery('#mycarousel2').jcarousel();
    jQuery('#third-carousel').jcarousel({
        vertical: true
    });
   
});

jQuery(document).ready(function() {
   
    jQuery('#third-carousel2').jcarousel({
        vertical: true
    });
   
});
function confirm_submit()
    {
        alert('You have added this product to your cart!');
       
    }

$(document).ready(function(){


    $(".slidingDiv").hide();
	$(".show_hide").show();
	
	$('.show_hide').click(function(){
	$(".slidingDiv").slideToggle();
	});

});

$(document).ready(function(){


    $(".slidingDiv2").hide();
	$(".show_hide2").show();
	
	$('.show_hide2').click(function(){
	$(".slidingDiv2").slideToggle();
	});

});


$(document).ready(function(){


    $(".slidingDiv3").hide();
	$(".show_hide3").show();
	
	$('.show_hide3').click(function(){
	$(".slidingDiv3").slideToggle();
	});

});

$(document).ready(function(){


    $(".slidingDiv4").hide();
	$(".show_hide4").show();
	
	$('.show_hide4').click(function(){
	$(".slidingDiv4").slideToggle();
	});

});


</script>


{if ({$hook_header}) == 'on'}
 <div id="wrap">
    <div class="slidingDiv">
        <!--<a href="#" class="show_hide"><center>Click to hide<center></a><br /> -->
        <center>
        
        
        <ul id="mycarousel" class="jcarousel-skin-ie7">
                       
            {foreach from=$product_info item=info_pro}
                <li>
                <a href="product.php?id_product={$info_pro.id_product}" title="{$info_pro.name}"><img src="{$info_pro.url}-home.jpg" width="200" height="160" /></a>{if (Configuration::get('option_price_header')) == 'on'}{ceil({$info_pro.price})} $ {/if}<br />
                {if (Configuration::get('option_cart_header')) == 'on'}
                <a class="button ajax_add_to_cart_button exclusive" title="Add to cart" href="cart.php?add&id_product={$info_pro.id_product}&token=e7ca9050d08d30ed542dcee3414af1a7" rel="ajax_id_product_{$info_pro.id_product}" onclick="return confirm_submit()">
                <span></span>
                Add to cart
                </a>
                {/if}       
                </li>
            {/foreach}
            
        </ul>
      
       
        
        
       </center>
     
       
           
    </div>
    
             
        
</div> 
    
    <center><a href="#" class="show_hide" title="Click here to show or hide list product" id="link2"><font size=2 color="#004990"><b>
    
    {if $list_title_header == 'normal'}
    Feature Products
    
    
    {elseif $list_title_header == 'new'}
    New Products
    
    
    {elseif $list_title_header == 'cheap'}
    Cheap Products
    
    
    {elseif $list_title_header == 'bestsell'}
    BestSeller Products
    
    
    {elseif $list_title_header == 'popular'}
    Most Popular Products
    
    
    {elseif $list_title_header == 'random'}
    Random Products
    {/if}
    
    </b></font></a></center>
{/if}