
{if ({$hook_home}) == 'on'}
 <div id="wrap">
    <div class="slidingDiv2">
        <!--<a href="#" class="show_hide"><center>Click to hide<center></a><br /> -->
        <center>
        
      
               
        <ul id="mycarousel2" class="jcarousel-skin-tango">
                       
            {foreach from=$product_info item=info_pro}
                <li>
                <a href="product.php?id_product={$info_pro.id_product}" title="{$info_pro.name}"><img src="{$info_pro.url}-home.jpg" width="150" height="150" /></a>{if (Configuration::get('option_price_home')) == 'on'}{ceil({$info_pro.price})} $ {/if}<br />
                {if (Configuration::get('option_cart_home')) == 'on'}
                <a class="button ajax_add_to_cart_button exclusive" title="Add to cart" href="cart.php?add&id_product={$info_pro.id_product}&token=e7ca9050d08d30ed542dcee3414af1a7" rel="ajax_id_product_{$info_pro.id_product}" onclick="confirm_submit()">
                <span></span>
                Add to cart
                </a>
                {/if}       
                </li>
            {/foreach}
            
        </ul>

       </center>
   
    </div>
 
</div> 
    
    <center><a href="#" class="show_hide2" title="Click here to show or hide list products" id="link2"><font size=2 color="#004990"><b>
    
    {if $list_title_home == 'normal'}
    Feature Products
    
    
    {elseif $list_title_home == 'new'}
    New Products
    
    
    {elseif $list_title_home == 'cheap'}
    Cheap Products
    
    
    {elseif $list_title_home == 'bestsell'}
    BestSeller Products
    
    
    {elseif $list_title_home == 'popular'}
    Most Popular Products
    
    
    {elseif $list_title_home == 'random'}
    Random Products
    {/if}
    
    </b></font></a></center>
{/if}