
{if ({$hook_left}) == 'on'}
<center><a href="#" class="show_hide3" title="Click here to show or hide list products" id="link2"><font size=2 color="#004990"><b>

    {if $list_title_left == 'normal'}
    Feature Products
    
    
    {elseif $list_title_left == 'new'}
    New Products
    
    
    {elseif $list_title_left == 'cheap'}
    Cheap Products
    
    
    {elseif $list_title_left == 'bestsell'}
    BestSeller Products
    
    
    {elseif $list_title_left == 'popular'}
    Most Popular Products
    
    
    {elseif $list_title_left == 'random'}
    Random Products
    {/if}

</b></font></a></center>
 <div id="wrap">
    <div class="slidingDiv3">
        <!--<a href="#" class="show_hide"><center>Click to hide<center></a><br /> -->
        <center>
        
        <ul id="third-carousel" class="jcarousel-skin-tango">
                       
            {foreach from=$product_info item=info_pro}
                <li>
                <a href="product.php?id_product={$info_pro.id_product}" title="{$info_pro.name}"><img src="{$info_pro.url}-home.jpg" width="169" height="169" /></a>{if (Configuration::get('option_price_left')) == 'on'}{ceil({$info_pro.price})} $ {/if}<br />
                {if (Configuration::get('option_cart_left')) == 'on'}
                <a class="button ajax_add_to_cart_button exclusive" title="Add to cart" href="cart.php?add&id_product={$product_infor.id_product}&token=e7ca9050d08d30ed542dcee3414af1a7" rel="ajax_id_product_{$info_pro.id_product}" onclick="confirm_submit()">
                <span></span>
                Add to cart
                </a>
                {/if}       
                </li>
            {/foreach}
            
        </ul>

       </center>
   
    </div>
 
</div> 
{/if}

